.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  height: 240px;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.navigation a {
  display: block;
  color: var(--color-text);
  text-decoration-color: var(--color-text);
}

.heading {
  margin: 0;
  text-shadow: 3px 3px var(--color-accent);
}

.container {
  width: calc(100% - 48px);
  height: auto;
  max-width: 640px;
  margin: 0 24px;
  padding: 16px;

  background: var(--color-background-light);
  box-shadow: 3px 3px 0 var(--color-accent);
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
