.itemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.itemContainer > * {
  display: block;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list li {
  margin-bottom: 16px;
}

.list li button {
  margin-left: 16px;
}
